<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lumous</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href='style.css' rel='stylesheet' text='text/css'>
  </head>
  <body>
    <header>
      <div id='headerInner'>
        <h1 id='headerInner-title'>Lumous</h1>
        <p id='headerInner-summary'>Simply gorgeous projects</p>
      </div>
    </header>

    <div id='linksOuter'>
      <div id='linksInner'>
        <ul id='linksList'>
          <li>Overview</li><li>Team</li><li>Product</li>
        </ul>
      </div>
    </div>

    <div id='page'>

      <div class='sectionOuter'>
        <div class='sectionInner'>
          <h2>Overview</h2>
          <p>Lumous is specifically designed to showcase your amazing work.</p>
        </div>
      </div>
    </div>

    <div id='footerOuter'>
      <div id='footerInner'>
        <p><i class="fa fa-code" aria-hidden="true"></i> by <a class='special' href="https://justinvos.me">Vos</a>.</p>
      </div>
    </div>
  </body>
</html>
